/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.title-decor {
  background-color: #FF0070;
}

.header {
  background-image: url(/images/cover-image-dark.png);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr min-content;
  padding: 10px;
  width: 375px;
  height: 668px;

}

.header__rec-decoration{
  position: absolute;
  right: 28px;
}

.header__rec-decoration::before {
  content: 'rec';
  color: #FF0070;
  margin-inline-end: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */

}

.header__rec-decoration::after {

  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  box-shadow: 0px 0px 4px 2px #FF0070;
  border-radius: 50%;
  background-color: #FF0070;
  
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.header__theme-menu-item {
  padding: 0 13px;
}

.header__theme-menu-button{
  color: #FF0070;
  text-transform: lowercase;
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.header__logo {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: #DB00FF;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 99px */;
  align-self: center ;

}

.header__text {
  color: #000028;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  justify-self: center;

}
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}
