/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --offset: 10px;
  --logo-color: #DB00FF;
  --accent-text-color: #F1B2CE;
  --btn-hover-color: rgba(255, 0, 112, 0.40);
  --background-color: #000028;
  --shadow-logo-color: #FF0070;
  --shadow-link-color: #FF0070;
  --section-title-color: #FF0070;
  --hidden-status: visible;

} 
