/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --offset: 10px;
  --logo-color: #DB00FF;
  --dark-btn-hover-color: rgba(255, 0, 112, 0.40);
} 

@media (768px <= width <=1024px) {
  .page {
    --offset: 20px;
  }
}